@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="container">

    @{ Html.RenderAction("RenderAdd", "AddChequeDetailsSurface")};

    <table>
        <thead>

        </thead>
    </table>

</div>